<!DOCTYPE html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet"> <link rel="stylesheet" href="../stylecss/style.min.css" type="text/css"/>
    <script src="https://kit.fontawesome.com/607b75d37b.js" crossorigin="anonymous"></script>
    <title>Dodaj wydarzenie</title>
</head>
<body>
    <div class="container">
        <div class="menu-bar">
            
            <img src="../img/Graylogo.png">
            <ul>
                <li>
                    <a href="home.html">
                        Home
                    </a>
                </li>
                <li>
                    <a>
                        E-sports
                    </a>
                </li>
                <li>
                    <a>
                        Team-sports
                    </a>
                </li>
                <li>
                    <a href="addevent.html">
                        New event
                    </a>
                </li>
                
            </ul>
    </div>
        <div class="right-side-bar-hidden">
            <i class="fas fa-angle-up nav-icon"></i>
            <i class="fas fa-angle-left nav-icon"></i>
        </div>
        <div class="right-side-bar">
            <a>
                <i class="fas fa-angle-up nav-icon"></i>
            </a>
                
            <div class="user-image">
                
            </div>
            <a>Name Surname</a>
            <a>My profile</a>
            <a>Sports</a>
            <a>Events</a>
            <a>
                <i class="fas fa-cog"></i>
                Account settings
            </a>
            <a>
                <i class="fas fa-sign-out-alt"></i>
                Logout
            </a>
            <a>
                <i class="fas fa-angle-right nav-icon"></i>
            </a>
            
        </div>
        <div class="bottom-bar">
            <i class="fas fa-bars"></i>
            <i class="fas fa-home"></i>
            <i class="fas fa-user"></i>
        </div>
        <form class="new-event-section">
            <h2>
                New event
            </h2>
            <button class="publish-button">
                Publish event
            </button>
            <input class="event-title" type="text" placeholder="Title">
            <input class="sport" type="text" placeholder="Sport">
            <input class="players" type="text" placeholder="Number of players">
            <div class="image-button">
                <button>
                    <i class="fas fa-image"></i>
                </button>
                <a>
                    Picture (optional)
                </a>
            </div>
            <textarea class="description" placeholder="Description, requirements"></textarea>
            <div class="date-location">
                <div class="date">
                    <i class="fas fa-calendar-alt"></i>
                    <a>
                        Date
                    </a>
                </div>
                <div class="location">
                    <i class="fas fa-map-marker-alt"></i>
                    <a>
                        Location (optional)
                    </a>
                </div>
            </div>
        </form>
    </div>
</body>