<!DOCTYPE html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet"> <link rel="stylesheet" href="../stylecss/style.min.css" type="text/css"/>
    <script src="https://kit.fontawesome.com/607b75d37b.js" crossorigin="anonymous"></script>
    <title>Strona glowna</title>
</head>
<body>
    <div class="container">
        <div class="menu-bar">
            
            <img src="../img/Graylogo.png">
            <ul>
                <li>
                    Home
                </li>
                <li>
                    E-sports
                </li>
                <li>
                    Team-sports
                </li>
                <li>
                    New event
                </li>
                
            </ul>
        </div>
        <div class="right-side-bar-hidden">
            <i class="fas fa-angle-up nav-icon"></i>
            <i class="fas fa-angle-left nav-icon"></i>
        </div>
        <div class="right-side-bar">
            <a>
                <i class="fas fa-angle-up nav-icon"></i>
            </a>
                
            <div class="user-image">
                
            </div>
            <a>Name Surname</a>
            <a>My profile</a>
            <a>Sports</a>
            <a>Events</a>
            <a>
                <i class="fas fa-cog"></i>
                Account settings
            </a>
            <a>
                <i class="fas fa-sign-out-alt"></i>
                Logout
            </a>
            <a>
                <i class="fas fa-angle-right nav-icon"></i>
            </a>
            
        </div>
        <div class="bottom-bar">
            <i class="fas fa-bars"></i>
            <i class="fas fa-home"></i>
            <i class="fas fa-user"></i>
        </div>
        <section class="home-page">
            <div class="filtration-panel">
                <i class="fas fa-sliders-h"></i>
                <a>
                    Filtration (location, date etc.)
                </a>
            </div>
            <div class="post">
                <div class="image"></div>
                <div class="post-description">
                    <h2>Football match</h2>
                    <h4>
                        signed players: 7/10
                    </h4>
                    <a class="description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when  
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
                    </a>
                    <section class="icons-section">
                        <section class="location-date-section">
                            <a>
                                <i class="fas fa-map-marker-alt"></i>
                                Cracowa
                            </a>
                            <a>
                                <i class="fas fa-calendar-alt"></i>
                                6 pm, 24-06-2020
                            </a>
                        </section>
                        <a class="sign-section">
                            <i class="fas fa-sign-in-alt"></i>
                            Sign in
                        </a>
                    </section>
                </div>
            </div>
            <div class="post">
                <div class="image"></div>
                <div class="post-description">
                    <h2>Football match</h2>
                    <h4>
                        signed players: 7/10
                    </h4>
                    <a class="description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when  
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
                    </a>
                    <section class="icons-section">
                        <section class="location-date-section">
                            <a>
                                <i class="fas fa-map-marker-alt"></i>
                                Cracowa
                            </a>
                            <a>
                                <i class="fas fa-calendar-alt"></i>
                                6 pm, 24-06-2020
                            </a>
                        </section>
                        <a class="sign-section">
                            <i class="fas fa-sign-in-alt"></i>
                            Sign in
                        </a>
                    </section>
                </div>
            </div>
            <div class="post">
                <div class="image"></div>
                <div class="post-description">
                    <h2>Football match</h2>
                    <h4>
                        signed players: 7/10
                    </h4>
                    <a class="description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when  
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
                    </a>
                    <section class="icons-section">
                        <section class="location-date-section">
                            <a>
                                <i class="fas fa-map-marker-alt"></i>
                                Cracowa
                            </a>
                            <a>
                                <i class="fas fa-calendar-alt"></i>
                                6 pm, 24-06-2020
                            </a>
                        </section>
                        <a class="sign-section">
                            <i class="fas fa-sign-in-alt"></i>
                            Sign in
                        </a>
                    </section>
                </div>
            </div>
            <div class="post">
                <div class="image"></div>
                <div class="post-description">
                    <h2>Football match</h2>
                    <h4>
                        signed players: 7/10
                    </h4>
                    <a class="description">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when  
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when 
                    </a>
                    <section class="icons-section">
                        <section class="location-date-section">
                            <a>
                                <i class="fas fa-map-marker-alt"></i>
                                Cracowa
                            </a>
                            <a>
                                <i class="fas fa-calendar-alt"></i>
                                6 pm, 24-06-2020
                            </a>
                        </section>
                        <a class="sign-section">
                            <i class="fas fa-sign-in-alt"></i>
                            Sign in
                        </a>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>