$container-color: #474242 0% 0% no-repeat padding-box;
$bar-color: transparent linear-gradient(180deg, #E5951D 0%, #734B0F 100%) 0% 0% no-repeat padding-box;
$component-color: #AEAEAE 0% 0% no-repeat padding-box;
$font-color: white;
$menu-font-color: #474242;
$star-color: #E5951D;
$border-color: #707070;
$font: 'Montserrat', sans-serif;

@mixin block-size($width, $height){
	width: $width;
	height: $height;
}
@mixin flex-column{
	display: flex;
	flex-direction: column;
}

@mixin flex-row{
	display: flex;
	flex-direction: row;
}
.hidden-element{
    display: none;
}
.element{
    @include flex-row();
    align-items: center;
}
.home-page{
    @include block-size(93%, 100%);
    color: $font-color;
    .filtration-panel{
        @include block-size(100%, 8vh);
        @include flex-row();
        justify-content: center;
        padding: 1em 0 1em;
        font-size: 0.6em;
        border-bottom: 1px solid $border-color;
        text-align: center;
        i{
            margin-right: 0.5em;
            font-size: 3em;
        }
        a{
            color: $font-color;
            margin-left: 2em;
        }
        a:hover{
            cursor: pointer;
            color: $border-color;
        }
        form, div {
            width: 100%;
            input {
                flex: 2;
                color: $container-color;
                background: $border-color;
                border: none;
                border-radius: 20px;
                padding: 1em;
                margin: 2em;
                button{
                    display: none;
                }
            }
            input.search{
                flex: 3;
            }

            input.search-button, input.filter{
                flex: 1;
            }

            input.search-button:hover, input.filter:hover {
                cursor: pointer;
                background: #818181;
                border: $border-color 1px solid;
            }

            i{
                color: $border-color;
            }
            i:hover{
                cursor: pointer;
                color: #818181;
            }
        }
        .form-displayed{
            @include flex-row();
            justify-content: space-around;
            align-items: center;
        }
    }
    .post{
        @include block-size(calc(100%-8em), 50vh);
        @include flex-row();
        margin: 4em 4em 0;
        border: 1px solid $border-color;
        border-radius: 30px;
        .image{
            @include block-size(50vh, 50vh);
            background: $component-color;
            border-radius: 30px;
            img{
                @include block-size(100%, 100%);
                border-radius: 30px;
            }
        }
        input{
        
            color: $font-color;
            border: none;
            background: transparent;
        }
        input:hover{
            cursor: pointer;
        }
        .post-description{
            @include flex-column();
            margin: 2em;
            width: 50%;
            justify-content: space-around;
            h2{
                margin: 0;
            }
            h4{
                margin: 0;
            }
            a{
                @include flex-row();
                font-size: 0.6em;
                align-items: center;
                i{
                    margin-right: 0.5em;
                    font-size: 2em;
                }
            }
            .icons-section{
                @include flex-row();
                justify-content: space-between;
                align-items: center;
                .location-date-section{
                    @include flex-column();
                    height: 150%;
                    justify-content: space-around;
                }
                .sign-section{
                    font-size: 1em;
                    font-weight: bold;
                    button{
                        border: none;
                        background: transparent;
                        color: $font-color;
                        font-size: 1em;
                    }
                    button:hover{
                        cursor: pointer;
                        color: $border-color;
                        
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 768px){
    
    .home-page{
        width: 90%;
        .filtration-panel{
            width: 100%;
            padding: 0;
            opacity: 95%;
            .form-displayed{
                @include flex-column();
                justify-content: space-around;
                position: absolute;
                height: 76vh;
                background: $container-color;
                input{
                    width: 80%;
                    margin: 0;
                    flex: 0;
                }
                .filter{
                    flex: 0;
                }
            }
        }
        .post{
            width: 100%;
            margin: 20px 0 20px 0;
            // border-radius: 0;
            .image{
                @include block-size(20vw, 20vw);
                // border-radius: 0;
                img{

                    border-bottom-left-radius: 0;
                    border-top-right-radius: 0;
                }
            }
        }
    }
}