$container-color: #474242 0% 0% no-repeat padding-box;
$bar-color: transparent linear-gradient(180deg, #E5951D 0%, #734B0F 100%) 0% 0% no-repeat padding-box;
$component-color: #AEAEAE 0% 0% no-repeat padding-box;
$font-color: white;
$menu-font-color: #474242;
$star-color: #E5951D;
$border-color: #707070;
$font: 'Montserrat', sans-serif;

@mixin block-size($width, $height){
	width: $width;
	height: $height;
}
@mixin flex-column{
	display: flex;
	flex-direction: column;
}

@mixin flex-row{
	display: flex;
	flex-direction: row;
}
.hidden-element{
    display: none;
}
.element{
    @include flex-row();
    align-items: center;
}
.home-page{
    @include block-size(100%, 100%);
    color: $font-color;
    .filtration-panel{
        @include block-size(100%, 8vh);
        @include flex-row();
        justify-content: center;
        padding: 1em 0 1em;
        font-size: 0.6em;
        border-bottom: 1px solid $border-color;
        text-align: center;
        i{
            margin-right: 0.5em;
            font-size: 3em;
        }
        a{
            color: $font-color;
            margin-left: 2em;
        }
        a:hover{
            cursor: pointer;
            color: $border-color;
        }
        form, div {

            width: 100%;

            i{
                color: $border-color;
                a{
                    color: $border-color;
                    display: none;
                }
            }

            i:hover{
                cursor: pointer;
                color: #818181;
                a{
                    color: #818181;
                }
            }

            input {
                color: $font-color;
                background: $border-color;
                border: none;
                border-radius: 20px;
                padding: 1em;
                margin: 2em;
                button{
                    display: none;
                }
            }
            
            select{
                border: none;
                margin: 2em;
                background: $border-color;
                border-radius: 20px;
                padding: 1em;
                color: $font-color;
            }
            
            .input-disabled{
                color: #505050;
                pointer-events: none;
                a{
                    color: #505050;
                }
            }

            input.add-sport-button{
                width: 10%;
            }
            
            input.search-area{
                width: 50%;
            }

            .no-valid{
                border: 2px solid #CD5C5C;
            }
        }
        .form-displayed{
            @include flex-row();
            justify-content: center;
            align-items: center;
        }
    }
    .event{
        
        @include block-size(calc(100%-8em), 50vh);
        @include flex-row();
        font-weight: 400;
        margin: 4em 4em 0;
        padding: 1em;
        border: 1px solid $border-color;
        border-radius: 30px;
        .event-image{
            @include block-size(50vh, 50vh);
            border-radius: 30px;
            img{
                @include block-size(50vh, 50vh);
                object-fit: cover;
                border-radius: 30px;
            }
        }
        section.event-container{
            padding: 1em;
        }
        section{
            @include flex-column();
            width: 60%;
            justify-content: space-between;
            button{
                background: transparent;
                border: none;
                color: $font-color;
                font-size: 1em;
            }
            button:hover{
                cursor: pointer;
                color: $border-color;
            }
            input.title{
                font-size: 2em;
            }
            input{
                font-size: 1em;
                padding: 0;
            }
            input:hover{
                cursor: pointer;
            }
            a.event-description{
                white-space: nowrap;
                overflow: hidden;
            }
            section.icons-section, div{
                @include flex-row();
            }
            .icons-section{
                justify-content: space-between;
                padding-bottom: 1em;
                a.mybutton:hover{
                    cursor: pointer;
                    color: $border-color;
                }
                i{
                    a{

                        font-weight: 400;
                        font-family: $font;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 768px) and (max-device-width: 768px){
    
    .home-page{
        width: 90%;
        .filtration-panel{
            padding: 0;
            opacity: 95%;
            .form-displayed{
                @include flex-column();
                justify-content: space-around;
                position: absolute;
                height: 76vh;
                background: $container-color;
                input, select, input.search-area, input.add-sport-button{
                    width: 80%;
                    margin: 0;
                    flex: 0;
                }
                i{
                    @include flex-row();
                    a{
                        margin-left: 0.5em;
                        font-family: $font;
                        display: block;
                        // color: $border-color;
                    }
                    a:hover{     
                        color: #818181;
                    }
                }
            }
        }
        .event{
            margin: 20px 0 20px 0;
            .event-image{
                @include block-size(20vw, 20vw);
                img{
                    @include block-size(20vw, 20vw);

                    border-bottom-left-radius: 0;
                    border-top-right-radius: 0;
                }
            }
        }
    }
}