.hidden-element {
  display: none;
}

.element {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-page {
  width: 93%;
  height: 100%;
  color: white;
}

.home-page .filtration-panel {
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em 0 1em;
  font-size: 0.6em;
  border-bottom: 1px solid #707070;
  text-align: center;
}

.home-page .filtration-panel i {
  margin-right: 0.5em;
  font-size: 3em;
}

.home-page .filtration-panel a {
  color: white;
  margin-left: 2em;
}

.home-page .filtration-panel a:hover {
  cursor: pointer;
  color: #707070;
}

.home-page .filtration-panel form, .home-page .filtration-panel div {
  width: 100%;
}

.home-page .filtration-panel form input, .home-page .filtration-panel div input {
  flex: 2;
  color: #474242 0% 0% no-repeat padding-box;
  background: #707070;
  border: none;
  border-radius: 20px;
  padding: 1em;
  margin: 2em;
}

.home-page .filtration-panel form input button, .home-page .filtration-panel div input button {
  display: none;
}

.home-page .filtration-panel form input.search, .home-page .filtration-panel div input.search {
  flex: 3;
}

.home-page .filtration-panel form input.search-button, .home-page .filtration-panel form input.filter, .home-page .filtration-panel div input.search-button, .home-page .filtration-panel div input.filter {
  flex: 1;
}

.home-page .filtration-panel form input.search-button:hover, .home-page .filtration-panel form input.filter:hover, .home-page .filtration-panel div input.search-button:hover, .home-page .filtration-panel div input.filter:hover {
  cursor: pointer;
  background: #818181;
  border: #707070 1px solid;
}

.home-page .filtration-panel form i, .home-page .filtration-panel div i {
  color: #707070;
}

.home-page .filtration-panel form i:hover, .home-page .filtration-panel div i:hover {
  cursor: pointer;
  color: #818181;
}

.home-page .filtration-panel .form-displayed {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.home-page .event {
  width: calc(100%-8em);
  height: 50vh;
  display: flex;
  flex-direction: row;
  margin: 4em 4em 0;
  padding: 1em;
  border: 1px solid #707070;
  border-radius: 30px;
}

.home-page .event .event-image {
  width: 50vh;
  height: 50vh;
  border-radius: 30px;
}

.home-page .event .event-image img {
  width: 50vh;
  height: 50vh;
  object-fit: cover;
  border-radius: 30px;
}

.home-page .event section {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: space-between;
  margin-left: 1em;
}

.home-page .event section input.title {
  font-size: 2em;
}

.home-page .event section input {
  font-size: 1em;
}

.home-page .event section input:hover {
  cursor: pointer;
}

.home-page .event section a.event-description {
  white-space: nowrap;
  overflow: hidden;
}

.home-page .event section section.icons-section, .home-page .event section div {
  display: flex;
  flex-direction: row;
}

.home-page .event section .icons-section {
  justify-content: space-between;
  padding-bottom: 1em;
}

.home-page .event section .icons-section a.mybutton:hover {
  cursor: pointer;
  color: #707070;
}

@media only screen and (max-width: 768px) {
  .home-page {
    width: 90%;
  }
  .home-page .filtration-panel {
    padding: 0;
    opacity: 95%;
  }
  .home-page .filtration-panel .form-displayed {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    height: 76vh;
    background: #474242 0% 0% no-repeat padding-box;
  }
  .home-page .filtration-panel .form-displayed input {
    width: 80%;
    margin: 0;
    flex: 0;
  }
  .home-page .filtration-panel .form-displayed .filter {
    flex: 0;
  }
  .home-page .event {
    margin: 20px 0 20px 0;
  }
  .home-page .event .event-image {
    width: 20vw;
    height: 20vw;
  }
  .home-page .event .event-image img {
    width: 20vw;
    height: 20vw;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
  }
}
