$container-color: #474242 0% 0% no-repeat padding-box;
$bar-color: transparent linear-gradient(180deg, #E5951D 0%, #734B0F 100%) 0% 0% no-repeat padding-box;
$component-color: #AEAEAE 0% 0% no-repeat padding-box;
$font-color: white;
$menu-font-color: #474242;
$star-color: #E5951D;
$border-color: #707070;
$font: 'Montserrat', sans-serif;

@mixin block-size($width, $height){
	width: $width;
	height: $height;
}
@mixin flex-column{
	display: flex;
	flex-direction: column;
}

@mixin flex-row{
	display: flex;
	flex-direction: row;
}

.login-register{
    height: 100%;
    @include flex-row();
    align-items: center;
    justify-content: space-around;
    .logo{
        text-align: center;
    }
    .login-container{
        @include flex-column();
        justify-content: space-around;
    }
    
    form{
        @include flex-row();
        justify-content: space-around;
        border-radius: 5vw;
        background: $bar-color;
        .login-section{
            @include flex-column();
            justify-content: space-around;
            align-items: center;
            padding: 2em;
        }
        .message{
            color: $font-color;
            font-size: 0.5em;
        }
        input{
            padding: 1em;
            border: none;
            background-color: transparent;
            color: $font-color;
            border-bottom: 2px solid $font-color;
        }
        .no-valid{
            color: red;
        }
        button{
            width: 80%;
            margin: 1em;
            padding: 1em 2em 1em 2em;
            border: 1px solid $border-color;
            border-radius: 30px;
            font-family: $font;
            line-height: 2.5em;
            color: $font-color;
            background: $container-color;
        }
        button:hover{
            cursor: pointer;
        }
        a{
            color: $font-color;
            font-size: 0.5em;
        }
    }
}


@media only screen and (max-width: 768px){
    .container{
        .login-register{
            display: inline;
        }
        .login-container{
            width: 100%;
            form{
                @include flex-column();
                width: 100%;
                padding: 0;
                justify-content: space-around;
                align-items: center;
                background: transparent;
                a{
                    margin-bottom: 4vh;
                }
                input{
                    margin-bottom: 4vh;
                }
                button{
                    margin-bottom: 4vh;
                    height: 8vh;
                }
            }
        }
    }
}