form.new-event-section {
  padding: 5em;
  display: grid;
  grid-template-areas: 'title button' 'event-title event-title' 'sport picture' 'players picture' 'description description' 'description description' 'date-location none';
  color: #AEAEAE;
}

form.new-event-section h2 {
  grid-area: title;
  color: white;
}

form.new-event-section button:hover {
  cursor: pointer;
}

form.new-event-section .publish-button {
  grid-area: button;
  border: none;
  border-radius: 30px;
  font-size: 1.5em;
  color: white;
  background: #707070;
}

form.new-event-section .publish-button:hover {
  cursor: pointer;
  background: #818181;
}

form.new-event-section .image-button {
  display: flex;
  flex-direction: row;
  grid-area: picture;
  margin: 2em;
  align-items: center;
}

form.new-event-section .image-button i {
  width: 50%;
  height: 100%;
  font-size: 5em;
  border: none;
  color: #707070;
  background: transparent;
}

form.new-event-section input {
  padding: 1em;
  margin: 1em 0 1em;
  font-size: 1em;
  border: none;
  border-bottom: 1px solid #707070;
  color: #AEAEAE;
  background: transparent;
}

form.new-event-section .event-title {
  grid-area: event-title;
}

form.new-event-section .sport {
  grid-area: sport;
}

form.new-event-section .players {
  grid-area: players;
}

form.new-event-section .date-location {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

form.new-event-section .date-location a:hover {
  cursor: pointer;
}

form.new-event-section .date-location .date-label {
  margin: 0;
  padding: 0;
}

form.new-event-section .description {
  grid-area: description;
  padding: 2em;
  margin: 2em 0;
  border: 1px solid #707070;
  border-radius: 30px;
  font-size: 1em;
  resize: none;
  font-family: "Montserrat", sans-serif;
  color: #AEAEAE;
  background: transparent;
}

form.remove-event {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
}

form.remove-event input {
  border-radius: 30px;
  font-size: 1.5em;
  color: white;
  background: #CD5C5C;
  border: none;
  padding: 1em;
}

form.remove-event input:hover {
  cursor: pointer;
  background: #DE6D6D;
}

@media only screen and (max-width: 768px) and (max-device-width: 768px) {
  form.new-event-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    justify-content: space-around;
    align-items: center;
  }
  form.new-event-section input, form.new-event-section textarea {
    width: 70%;
  }
  form.new-event-section .publish-button {
    width: 70%;
    height: 10vh;
    order: 7;
  }
  form.new-event-section .date-location {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  form.new-event-section .date-location .date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  form.new-event-section .date-location .date input {
    width: 30%;
  }
  form.new-event-section .date-location a {
    display: none;
  }
  form.new-event-section .date-location i {
    font-size: 2em;
  }
  form.new-event-section .date-location i:hover {
    cursor: pointer;
  }
}
