$container-color: #474242 0% 0% no-repeat padding-box;
$bar-color: transparent linear-gradient(180deg, #E5951D 0%, #734B0F 100%) 0% 0% no-repeat padding-box;
$component-color: #AEAEAE 0% 0% no-repeat padding-box;
$font-color: white;
$menu-font-color: #474242;
$star-color: #E5951D;
$border-color: #707070;
$font: 'Montserrat', sans-serif;

@mixin block-size($width, $height){
	width: $width;
	height: $height;
}
@mixin flex-column{
	display: flex;
	flex-direction: column;
}

@mixin flex-row{
	display: flex;
	flex-direction: row;
}

.profile{
    color: $font-color;
    margin: 2em;
    .event-section{
        @include flex-column();
        margin-top: 1em;
        .buttons-section{
            @include flex-row();
            justify-content: space-between;
            width: 30%;
            input{
                background: $border-color;
                border: none;
                border-radius: 30px;
                padding: 1em;
                color: $font-color;
                font-size: 1em;
            }
            input:hover{
                background: #818181;
                cursor: pointer;
            }
        }
        .event{
            margin: 2em 0;
        }
    }
    
    .profile-data{
        @include flex-row();
        .stars{
            color: $star-color;
        }
        img{
            @include block-size(160px, 160px);
            object-fit: cover;
            border-radius: 10px;
        }
        .data{
            @include flex-column();
            justify-content: space-around;
            margin-left: 1em;
            h2{
                margin: 0;
            }
        }
        .profile-settings{
            @include flex-row();
            // flex: 4;
            justify-content: flex-end;
            a{
                font-size: 1em;
                text-decoration: none;
                color: $font-color;
                i{
                    padding-right: 0.5em;
                }
            }
            button{
                background: transparent;
                border: none;
                color: $font-color;
                font-size: 1em;
            }
            a:hover, button:hover{
                cursor: pointer;
            }
        }
    }
    .profile-description{
        a{
            font-size: 0.8em;
        }
    }
    .profile-sports{
        @include flex-row();
        flex-wrap: wrap;
        .sport{
            @include flex-row();
            width: 20em;
            height: 5em;
            margin: 2em 2em 0 0;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background: $component-color;
            i{
                margin: 1em;
            }
        }
    }
    .profile-feedback{

        .feedback{
            @include flex-row();
            margin: 2em 0 2em;
            align-items: center;
            border-bottom: 1px solid $border-color;
            .image{
                @include block-size(60px, 60px);
                background: $component-color;
                border-radius: 15px;
                img{
                    @include block-size(60px, 60px);
                    border-radius: 15px;
                    object-fit: cover;
                }
            }
            .feedback-body{
                @include flex-column();
                a.date, a.user{
                    font-size: 0.8em;
                }
            }
            a{
                flex:7;
                width: 85%;
                padding-left: 20px;
            }
            .stars{
                @include flex-row();
                flex: 1;
                justify-content: flex-end;
                color: $star-color;
            }
        }

        form{
            @include flex-row();
            justify-content: space-between;
            margin-bottom: 2em;
            input{

                border-radius: 30px;
                width: 20%;
                color: $font-color;
                background: $border-color;
                border: none;
                font-size: 1em;
            }
            input.comment-submit:hover{
                cursor: pointer;
                background: #818181;
            }
            input.comment-text{
                width: 70%;
                padding: 1em;
                background: transparent;
                border: 1px $border-color solid;
            }
            
            .button-disabled{
                color: #505050;
                pointer-events: none;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    
    .profile{
        margin: 2em;
        align-items: center;
        .profile-data{
            display: grid;
            grid-template-areas: 
                "image data"
                "settings settings";
            .profile-image{
                grid-area: image;
            }
            .data{
                grid-area: data;
            }
            .profile-settings{
                margin-top: 2em;
                grid-area: settings;
                justify-content: flex-start;
            }
        }
        .profile-description{
            @include flex-column();
            align-items: center;
        }
        .profile-sports{
            @include flex-column();
            .sport{
                margin: 0 0 1em;
            }
        }
    }
}