.profile {
  color: white;
  margin: 5em;
}

.profile .event-section {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.profile .event-section .buttons-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}

.profile .event-section .buttons-section input {
  background: #707070;
  border: none;
  border-radius: 30px;
  padding: 1em;
  color: white;
  font-size: 1em;
}

.profile .event-section .buttons-section input:hover {
  background: #818181;
  cursor: pointer;
}

.profile .event-section .event {
  margin: 2em 0;
}

.profile .profile-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile .profile-data .image-data {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.profile .profile-data .image-data .stars {
  color: #E5951D;
}

.profile .profile-data .image-data img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.profile .profile-data .image-data .data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1em;
}

.profile .profile-data .image-data .data h2 {
  margin: 0;
}

.profile .profile-data .profile-settings {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.profile .profile-data .profile-settings a {
  font-size: 1em;
  text-decoration: none;
  color: white;
}

.profile .profile-data .profile-settings a i {
  padding-right: 0.5em;
}

.profile .profile-data .profile-settings button {
  background: transparent;
  border: none;
  color: white;
  font-size: 1em;
}

.profile .profile-data .profile-settings a:hover, .profile .profile-data .profile-settings button:hover {
  cursor: pointer;
}

.profile .profile-description a {
  font-size: 0.8em;
}

.profile .profile-sports {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.profile .profile-sports .sport {
  display: flex;
  flex-direction: row;
  width: 20em;
  height: 5em;
  margin: 2em 2em 0 0;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #AEAEAE 0% 0% no-repeat padding-box;
}

.profile .profile-sports .sport i {
  margin: 1em;
}

.profile .profile-feedback .feedback {
  display: flex;
  flex-direction: row;
  margin: 2em 0 2em;
  align-items: center;
  border-bottom: 1px solid #707070;
}

.profile .profile-feedback .feedback .image {
  width: 60px;
  height: 60px;
  background: #AEAEAE 0% 0% no-repeat padding-box;
  border-radius: 15px;
}

.profile .profile-feedback .feedback .image img {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  object-fit: cover;
}

.profile .profile-feedback .feedback .feedback-body {
  display: flex;
  flex-direction: column;
}

.profile .profile-feedback .feedback .feedback-body a.date, .profile .profile-feedback .feedback .feedback-body a.user {
  font-size: 0.8em;
}

.profile .profile-feedback .feedback a {
  flex: 7;
  width: 85%;
  padding-left: 20px;
}

.profile .profile-feedback .feedback .stars {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
  color: #E5951D;
}

.profile .profile-feedback form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2em;
}

.profile .profile-feedback form input {
  border-radius: 30px;
  width: 20%;
  color: white;
  background: #707070;
  border: none;
  font-size: 1em;
}

.profile .profile-feedback form input.comment-submit:hover {
  cursor: pointer;
  background: #818181;
}

.profile .profile-feedback form input.comment-text {
  width: 70%;
  padding: 1em;
  background: transparent;
  border: 1px #707070 solid;
}

.profile .profile-feedback form .button-disabled {
  color: #505050;
  pointer-events: none;
}

@media only screen and (max-width: 768px) and (max-device-width: 768px) {
  .profile {
    margin: 2em;
    align-items: center;
  }
  .profile .profile-data {
    display: grid;
    grid-template-areas: "image data" "settings settings";
  }
  .profile .profile-data .profile-image {
    grid-area: image;
  }
  .profile .profile-data .data {
    grid-area: data;
  }
  .profile .profile-data .profile-settings {
    margin-top: 2em;
    grid-area: settings;
    justify-content: flex-start;
  }
  .profile .profile-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile .profile-sports {
    display: flex;
    flex-direction: column;
  }
  .profile .profile-sports .sport {
    margin: 0 0 1em;
  }
}
