$container-color: #474242 0% 0% no-repeat padding-box;
$bar-color: transparent linear-gradient(180deg, #E5951D 0%, #734B0F 100%) 0% 0% no-repeat padding-box;
$component-color: #AEAEAE 0% 0% no-repeat padding-box;
$font-color: white;
$menu-font-color: #474242;
$star-color: #E5951D;
$border-color: #707070;
$font: 'Montserrat', sans-serif;

@mixin block-size($width, $height){
	width: $width;
	height: $height;
}
@mixin flex-column{
	display: flex;
	flex-direction: column;
}

@mixin flex-row{
	display: flex;
	flex-direction: row;
}

body{
    margin: 0;
    height: 100%;
    font-family: $font;
    font-size: 20px;
    background: $container-color;
}
.container{
    @include block-size(100%, 200%);
    @include flex-column();
    
    .top-bar{
        @include block-size(100%, 12vh);
        @include flex-row();
        justify-content: center;
        align-items: center;
        background: $bar-color;
        img{
            height: 2em;
        }
    }
    .menu-bar{
        @include block-size(100%, 12vh);
        @include flex-column();
        justify-content: space-around;
        z-index: 1;
        background: $bar-color;
        img{
            height: 2em;
            position: absolute;
            padding-left: 2em;
        }
        ul{
            @include flex-row();
            height: 100%;
            margin: 0;
            justify-content: flex-end;
            li{
                // width: 100%;
                padding: 0 2em 0 2em;
                text-align: center;
                list-style: none;
                a{
                    @include block-size(100%, 100%);
                    @include flex-column();
                    justify-content: center;
                    text-decoration: none;
                    color: $menu-font-color;
                }
            }
            li:hover{
                cursor: pointer;
                background: $container-color;
                a{
                    color: $star-color;
                }
            }
        }
    }
    .right-side-bar-hidden{
        @include block-size(7%, 100%);
        // @include flex-column();
        display: none;
        justify-content: space-between;
        align-items: center;
        border-left: 1px solid $border-color;
        position: fixed;
        right: 0;
        color: $font-color;
        .nav-icon{
            font-size: 3em;
        }
        .nav-icon:hover{
            cursor: pointer;
            color: $border-color;
        }
    }
    .right-side-bar{
        @include block-size(20%, 100%);
        @include flex-column();
        justify-content: space-around;
        align-items: center;
        color:$font-color;
        position: fixed;
        right: 0;
        border-left: 1px solid $border-color;
        background: $container-color;
        a{
            color: $font-color;
            text-decoration: none;
        }
        a:hover{
            cursor: pointer;
            color: $border-color;
        }
        .user-image{
            @include block-size(5em, 5em);
            background: $component-color;
        }
        .nav-icon{
            font-size: 3em;
        }
    }
    .hidden-element{
        display: none;
    }
    .flex-element{
        @include flex-column();
    }
    .bottom-bar{
        display: none;
    }
}

@media only screen and (max-width: 768px){
    body{
        @include block-size(100%, 100%);
    }
    .container{
        flex-direction: column;
        .right-side-bar{
            display: none;
        }
        .right-side-bar-hidden{
            display: none;
        }
        .home-page{
            width: 100%;
        }
        .top-bar{
            display: flex;
            justify-content: center;
        }
        .login-register{
            padding: 50px 0 50px 0;
            display: flex;
            flex-direction: column;
            .logo{
                width: 100%;
            }
            div{
                margin: 0;
            }
        }
        .menu-bar{
            @include flex-row();
            justify-content: center;
            align-items: center;
            ul{
                display: none;
            }
        }
        .right-side-bar{
            display: none;
        }
        .bottom-bar{
            @include block-size(100%, 12vh);
            @include flex-row();
            justify-content: space-around;
            align-items: center;
            font-size: 2em;
            position: fixed;
            bottom: 0;
            color: $menu-font-color;
            background: $bar-color;
            a{
                color: $menu-font-color;
            }
        }
    }
}
